[Desktop Entry]
Version=1.0
Type=Application
Name=Planova
Comment=A future proof opinionated software to manage your life in plaintext
Exec=planova
Icon=/home/brvier/Projects/Planova/planova.png
Terminal=false
Categories=Office;Productivity;
StartupWMClass=planova